@mixin dFlex($jc, $ai) {
  display: flex;
  justify-content: $jc;
  align-items: $ai;
}

section {
  margin: 10rem 2rem;
  @include dFlex(center, center);
  flex-direction: column;

  > h1 {
    color: #89bcd9;
    margin-bottom: 10rem;
  }
}

.typingEffectContent{
    @include dFlex(center, center);
  flex-direction: row;
}

#content {
  gap: 5rem;
  @include dFlex(center, start);
  width: 100%;
  flex-wrap: wrap;

  > span {
    font-family: "Josefin Sans";
    font-size: 1.8rem;
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: end;

    > button,
    a {
      margin-top: 2rem;
    }

    > img {
      margin-top: 2.5rem;
    }
  }
}
.typingEffectContent{
  width: 45rem;
}


@media (max-width: 656px) {
  section {
    margin: 0rem 2rem;
    margin-bottom: 10rem;
    h1 {
      font-size: 4.8rem;
      margin-bottom: 5rem;
    }
  }
  span {
    text-align: center;
  }
  a {
    display: none;
  }
}

@media (max-width: 443px) {
  .typingEffectText{
  font-size: 1.8rem;
}
  section {
    margin: 0rem 2rem;
    margin-bottom: 10rem;
    h1 {
      font-size: 3.2rem;
      margin-bottom: 5rem;
    }
  }
  #content {
    span {
      text-align: center;
      font-size: 1.6rem;
    }
  }

  a {
    display: none;
  }
}

.typingEffectText{
  font-family: 'Josefin Sans';
  font-size: 3rem;
}