<section id="contact">
  <div class="titleArea">

    <h1>{{ "contact.title" | translate }}</h1>
    <a href="#hero">
      <div class="arrowUpDefault"></div>
    </a>
  </div>
  <form (ngSubmit)="onSubmit(contactForm)" #contactForm="ngForm">
    <div id="content">
      <div class="input">
        <div class="text">
          <p [innerHTML]="'contact.text' | translate"></p>

        </div>

        <div class="contactInfo">
          <div class="mailInfoInput">
            <div [class]="contactData.contactInfo.emailClass" alt=""></div>
            E-mail: testMail&#64;gmail.com
          </div>
          <div class="telInfoInput">
            <div [class]="contactData.contactInfo.phoneClass" alt=""></div>
            Tel: {{ contactData.contactInfo.phone }}
          </div>
        </div>
      </div>
      <h3 class="mobileHeadline">{{ "contact.headline" | translate }}</h3>

      <div class="formularInput">

        <div class="yourName">
          @if (!name.valid && name.touched  || submitted && !name.valid ) {
          <span [class]="{ errorText: !name.valid && name.touched || submitted }">{{
            "contact.required.name" | translate
            }}</span>
          } @else {
          <span>{{ "contact.formFields.name.label" | translate }}</span>
          }<!--  @if (name.valid) {
          <img src="assets/images/sections/contactMe/agreedChecked.png" alt="" />
          } -->
          <input [(ngModel)]="contactDatas.name" [class]="{ invalid: !name.valid && name.touched || submitted && !name.valid }" #name="ngModel"
            name="name" id="yourNameField" class="textField" type="text" required />

          <input [(ngModel)]="contactDatas.name" [class]="{ invalid: !name.valid && name.touched || submitted && !name.valid }" #name="ngModel"
            name="name" id="yourNameFieldMobile" class="textField" type="text" required
            placeholder="{{ 'contact.formFields.name.label' | translate }}" />
        </div>

        <div class="yourName">
          @if (!email.valid && email.touched  || submitted && !email.valid ) {
          <span [class]="{ errorText: !email.valid && email.touched || submitted && !email.valid }">{{
            "contact.required.email" | translate
            }}</span>
          } @else {
          <span>{{ "contact.formFields.email.label" | translate }}</span>
          }<!--  @if (email.valid) {
          <img src="assets/images/sections/contactMe/agreedChecked.png" alt="" />
          } -->
          <input [(ngModel)]="contactDatas.email" [class]="{ invalid: !email.valid && email.touched || submitted && !email.valid }" #email="ngModel"
            name="email" id="yourEmailField" class="textField" type="text" required
            pattern="[a-zA-Z0-9._%+\-]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,}" />

          <input [(ngModel)]="contactDatas.email" [class]="{ invalid: !email.valid && email.touched || submitted && !email.valid }" #email="ngModel"
            name="email" id="yourEmailFieldMobile" class="textField" type="text" required
            pattern="[a-zA-Z0-9._%+\-]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,}"
            placeholder="{{ 'contact.formFields.email.label' | translate }}" />

        </div>
      </div>

      <div class="messageInput">
        @if (!message.valid && message.touched  || submitted && !message.valid) {
        <span [class]="{ errorText: !message.valid && message.touched  || submitted && !message.valid }">{{
          "contact.required.message" | translate
          }}</span>
        } @else {
        <span>{{ "contact.formFields.message.label" | translate }}</span>
        }

        <input #message="ngModel" [(ngModel)]="contactDatas.message" [class]="{ invalid: !message.valid && message.touched  || submitted && !message.valid }"
          name="message" id="yourMessageField" class="messageField" type="text" required />
        <input #message="ngModel" [(ngModel)]="contactDatas.message" [class]="{ invalid: !message.valid && message.touched  || submitted && !message.valid }"
          name="message" id="yourMessageFieldMobile" class="messageField" type="text" required
          placeholder="{{ 'contact.formFields.message.label' | translate }}" />
        <div class="checkArea">
          <div class="agreementArea">
            <div id="privacy">
              <input [(ngModel)]="contactDatas.checked" #privacyCheckbox="ngModel" [class.submitted]="submitted"
                class="checkBox" type="checkbox" name="privacyCheckbox" required />
              <div class="privacyText">{{
                'contact.formFields.message.privacyText' | translate
                }} <a [routerLink]="'/privacy-policy'">{{
                  'contact.formFields.message.privacyPolicyText' | translate
                  }}</a>
                {{
                'contact.formFields.message.privacyText2' | translate
                }}
              </div>
            </div>

            <span id="error_text" [class]="{ errorText: !privacyCheckbox.valid && submitted }">
                          @if (!privacyCheckbox.valid && submitted) {
                            {{

              "contact.required.privacyText" | translate }}
                          }</span>
            
          </div>
        </div>
        <div class="submitArea">
          <input class="submitButton" [class.readyToSubmit]="contactForm.form.valid" type="submit" value="Send"
            (click)="submitted = true" />
          @if (success) {
          <div class="overlay">
            <div class="overlay-content">
              <p>{{'contactConfirmation.confirmationMessage' | translate}}</p>
              <button (click)="success = false">{{'contactConfirmation.confirmationClose' | translate}}</button>
            </div>
          </div>
          }
        </div>
      </div>
      <a href="#hero">
        <div class="arrowUpDefaultMobile"></div>
      </a>
    </div>
  </form>
</section>