<section id="hero">
  <div id="content">
    <div class="devPicture">
      <img id="profilePhoto" src="images/profile/profilePhoto.png" alt="Profil Image">
    </div>
    <div class="heroInput">
      <div class="logosContainer">
        <div class="logo"> </div>
        <div class="socials">
      <a id="mail" href="#contact"></a>
      <a id="github" href="https://github.com/twenty2industries" target="_blank"></a>
      <a id="linkedin" href="https://de.linkedin.com/" target="_blank"></a>
        </div>
      </div>
      <h1>{{ heroData.text.name }}</h1>
      <h2>{{ heroData.text.title }}</h2>
      <a href="#contact">
        <div class="arrowDownDefault"></div>
      </a>
    </div>
  </div>
</section>