<section id="projects">
  <h1>{{ 'PROJECTS.TITLE' | translate }}</h1>

  <div class="navContent">
    <nav>
      <span (click)="selectedProject = 'JOIN'" [class.active]="selectedProject === 'JOIN'">
        1. {{ 'PROJECTS.JOIN.TITLE' | translate }}
      </span>
      <span (click)="selectedProject = 'EL_POLO_LOCO'" [class.active]="selectedProject === 'EL_POLO_LOCO'">
        1. {{ 'PROJECTS.EL_POLO_LOCO.TITLE' | translate }}
      </span>

      <span (click)="selectedProject = 'ONGOING_PROJECT'" [class.active]="selectedProject === 'ONGOING_PROJECT'">
        3. {{ 'PROJECTS.ONGOING_PROJECT.TITLE' | translate }}
      </span>
    </nav>
  </div>

  <div class="content">
    @if (selectedProject === 'EL_POLO_LOCO') {
    <div class="input">
      <div class="container">
        <div class="projectInput">
          <div class="bulletPoints">
            <img src="images/sections/myProjects/elipse.png" alt="">
            <h3>{{ 'PROJECTS.EL_POLO_LOCO.BULLET_POINTS.ABOUT_TITLE' | translate }}</h3>
            <span class="durationText">{{ 'PROJECTS.EL_POLO_LOCO.DURATION' | translate }}</span>
          </div>
          <p [innerHTML]="'PROJECTS.EL_POLO_LOCO.BULLET_POINTS.ABOUT_CONTENT' | translate"></p>

          <div class="bulletPoints">
            <img src="images/sections/myProjects/elipse.png" alt="">
            <h3>{{ 'PROJECTS.EL_POLO_LOCO.BULLET_POINTS.WORK_PROCESS_TITLE' | translate }}</h3>
          </div>
          <p [innerHTML]="'PROJECTS.EL_POLO_LOCO.BULLET_POINTS.WORK_PROCESS_CONTENT' | translate"></p>

          <div class="bulletPoints">
            <img src="images/sections/myProjects/elipse.png" alt="">
            <h3>{{ 'PROJECTS.EL_POLO_LOCO.BULLET_POINTS.LEARNINGS_TITLE' | translate }}</h3>
          </div>
          <p [innerHTML]="'PROJECTS.EL_POLO_LOCO.BULLET_POINTS.LEARNINGS_CONTENT' | translate"></p>
                    <div class="buttonAreaMobile">
            <button class="testButton"> <a href="https://jump-and-run-bb.netlify.app/" target="_blank">{{ 'PROJECTS.EL_POLO_LOCO.URL' | translate }}</a></button>
            <button> <a href="https://github.com/twenty2industries/elpolloloco" target="_blank">GitHub</a></button>
          </div>
        </div>

        <div class="projectContainer">
          <div class="projectDetailMobile">
            <h3>{{ 'PROJECTS.EL_POLO_LOCO.TITLE' | translate }}</h3>
            <span>Technologies: JavaScript, HTML, CSS </span>
            <span class="durationText">{{ 'PROJECTS.EL_POLO_LOCO.DURATION' | translate }}</span>
          </div>
          <span class="techText">Technologies</span>
          <div class="icons">
            <img src="images/sections/mySkills/cssDefault.png">
            <img src="images/sections/mySkills/jsDefault.png">
            <img src="images/sections/mySkills/htmlDefault.png">

          </div>
          <div class="projectPictures">
            <img src="images/sections/myProjects/elpololoco.png" alt="El Pollo Loco Screenshot">
          </div>
          <div class="buttonArea">
            <a href="https://jump-and-run-bb.netlify.app/" target="_blank" class="testButton">{{
              'PROJECTS.EL_POLO_LOCO.URL' | translate }}</a>
            <a href="https://github.com/twenty2industries/elpolloloco" target="_blank" class="testButton">GitHub</a>
          </div>

        </div>
      </div>
    </div>
    }

    @if (selectedProject === 'JOIN') {
    <div class="input">
      <div class="container">
        <div class="projectInput">
          <div class="bulletPoints">
            <img src="images/sections/myProjects/elipse.png" alt="">
            <h3>{{ 'PROJECTS.JOIN.BULLET_POINTS.ABOUT_TITLE' | translate }}</h3>
            <span class="durationText">{{ 'PROJECTS.JOIN.DURATION' | translate }}</span>
          </div>
          <p [innerHTML]="'PROJECTS.JOIN.BULLET_POINTS.ABOUT_CONTENT' | translate"></p>

          <div class="bulletPoints">
            <img src="images/sections/myProjects/elipse.png" alt="">
            <h3>{{ 'PROJECTS.JOIN.BULLET_POINTS.WORK_PROCESS_TITLE' | translate }}</h3>
          </div>
          <p [innerHTML]="'PROJECTS.JOIN.BULLET_POINTS.WORK_PROCESS_CONTENT' | translate"></p>

          <div class="bulletPoints">
            <img src="images/sections/myProjects/elipse.png" alt="">
            <h3>{{ 'PROJECTS.JOIN.BULLET_POINTS.LEARNINGS_TITLE' | translate }}</h3>
          </div>
          <p [innerHTML]="'PROJECTS.JOIN.BULLET_POINTS.LEARNINGS_CONTENT' | translate"></p>

          <div class="buttonAreaMobile">
            <button class="testButton"> <a href="https://task-manager-bb.netlify.app/" target="_blank">{{ 'PROJECTS.JOIN.URL' | translate }}</a></button>
            <button> <a href="https://github.com/twenty2industries/join" target="_blank">GitHub</a></button>
          </div>
        </div>

        <div class="projectContainer">
          <div class="projectDetailMobile">
            <h3>{{ 'PROJECTS.JOIN.TITLE' | translate }}</h3>
            <span>Technologies: Angular, HTML, CSS </span>
            <span class="durationText">{{ 'PROJECTS.JOIN.DURATION' | translate }}</span>
          </div>
          <span class="techText"> Technologies</span>
          <div class="icons">
            <img src="images/sections/mySkills/htmlDefault.png">
            <img src="images/sections/mySkills/angularDefault.png">
            <img src="images/sections/mySkills/tsDefault.png">
            <img src="images/sections/mySkills/cssDefault.png">
          </div>

          <div class="projectPictures">
            <img src="images/sections/myProjects/join.png" alt="Join Screenshot">
          </div>
          <div class="buttonArea">
            <a href="https://task-manager-bb.netlify.app/" target="_blank" class="testButton">{{ 'PROJECTS.JOIN.URL' |
              translate }}</a>
            <a href="https://github.com/twenty2industries/join" target="_blank" class="testButton">GitHub</a>
          </div>

        </div>
      </div>
    </div>
    }

    @if (selectedProject === 'ONGOING_PROJECT') {
    <div class="input">
      <div class="container">
        <div class="projectInput">
          <div class="bulletPoints">
            <img src="images/sections/myProjects/elipse.png" alt="">
            <h3>{{ 'PROJECTS.ONGOING_PROJECT.BULLET_POINTS.ABOUT_TITLE' | translate }}</h3>
          </div>
          <p [innerHTML]="'PROJECTS.ONGOING_PROJECT.BULLET_POINTS.ABOUT_CONTENT' | translate"></p>

          <div class="bulletPoints">
            <img src="images/sections/myProjects/elipse.png" alt="">
            <h3>{{ 'PROJECTS.ONGOING_PROJECT.BULLET_POINTS.WORK_PROCESS_TITLE' | translate }}</h3>
          </div>
          <p [innerHTML]="'PROJECTS.ONGOING_PROJECT.BULLET_POINTS.WORK_PROCESS_CONTENT' | translate"></p>

          <div class="bulletPoints">
            <img src="images/sections/myProjects/elipse.png" alt="">
            <h3>{{ 'PROJECTS.ONGOING_PROJECT.BULLET_POINTS.LEARNINGS_TITLE' | translate }}</h3>
          </div>
          <p [innerHTML]="'PROJECTS.ONGOING_PROJECT.BULLET_POINTS.LEARNINGS_CONTENT' | translate"></p>
        </div>

        <div class="projectContainer">
          <div class="projectDetailMobile">
            <h3>{{ 'PROJECTS.ONGOING_PROJECT.TITLE' | translate }}</h3>
            <span>Technologies: Angular, TypeScript</span>
          </div>
          <span class="techText">Technologies</span>
          <div class="icons">
            <img src="images/sections/mySkills/htmlDefault.png">
            <img src="images/sections/mySkills/angularDefault.png">
            <img src="images/sections/mySkills/tsDefault.png">
            <img src="images/sections/mySkills/cssDefault.png">
          </div>
          <div class="projectPictures">
            <img src="/assets/images/sections/myProjects/overtake.png" alt="Project Screenshot">
          </div>
          <div class="buttonArea">
          </div>
        </div>
      </div>
    </div>
    }

  </div>
</section>