@import "../../mixins.scss";

section {
  @include dFlex(center, center);
  flex-direction: column;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes smoothFadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.projectDetailMobile {
  display: none;
}

.container {
  @include dFlex(space-evenly, start);
  padding: 3rem 0;
  flex-wrap: wrap;
  animation: smoothFadeIn 2s ease-out forwards;
}

.projectInput {
  @include dFlex(normal, center);
  flex-direction: column;
  font-size: 1.8rem;

  > p {
    font-family: "Josefin Sans";
    margin-left: 5rem;
    width: 68rem;
  }
}

.bulletPoints {
  @include dFlex(start, center);
  gap: 2rem;
  padding: 2.5rem 0rem;
  width: 100%;

  > h3 {
    font-size: 2.8rem;
    font-family: "Josefin Sans";
    font-weight: 400;
  }

  > span {
    font-size: 1.8rem;
  }
}

.navContent {
  @include dFlex(center, center);
  width: 100%;

  nav {
    cursor: pointer;
    width: 150rem;
    max-width: 1920px;
    flex-wrap: wrap;
    @include dFlex(start, center);
    height: 9rem;

    span {
      color: #89bcd9;
      @include dFlex(center, center);
      width: 28rem;
      height: 10rem;
      font-size: 3rem;
      text-align: center;
      transition: color 0.2s ease-in-out;

      &:hover {
        color: white;
      }

      &.active {
        animation: fadeIn 0.8s ease-out forwards;
        color: white;
        background-color: #2d383f;
        border-top-left-radius: 2rem;
        border-top-right-radius: 2rem;
      }
    }
  }
}

.projectContainer {
  @include dFlex(center, center);
  flex-direction: column;

  > span {
    font-size: 1.8rem;
  }
}

.projectPictures {
  @include dFlex(center, center);


  > img {
    width: 45rem;
    object-fit: cover;
    object-position: right;
    height: 31rem;
    border-radius: 2rem;
  }
}

.buttonArea {
  @include dFlex(space-between, center);
  padding: 3rem;
  width: 30rem;

  .testButton {
      @include dFlex(center, center);

  font-family: 'Josefin Sans';
  font-size: 1.8rem;
  background: none;
  width: 13.2rem;
  height: 4.8rem;
  border-radius: 3rem;
  color: #89bcd9;
  border: solid 0.1rem #89bcd9;
  transition: background-color 0.17s ease-in-out; 

  &:hover{
    cursor: pointer;
    background-color: #89bcd92d;
  };
  
}
}

.icons {
  @include dFlex(space-between, center);
  padding: 1rem;
  gap: 2rem;

  > img {
    height: 3.6rem;
  }
}

.buttonAreaMobile {
  display: none;
}

span {
  font-family: "Josefin Sans";
}

.input {
  max-width: 1920px;
  @include dFlex(center, space-between);
  flex-direction: column;
  width: 100%;
}

h1 {
  margin-bottom: 10rem;
  @include dFlex(center, center);
}

.content {
  @include dFlex(center, center);
  background-color: #2d383f;
  width: 100%;
  padding-bottom: 5rem;
}

.d_none {
  display: none;
}

@media (max-width: 1197px) {
  .container {
    flex-direction: column-reverse;
    align-items: center;
  }
}

@media (max-width: 920px) {
  .container {
    padding: 3rem 2rem;
  }

  .projectContainer {
    width: 100%;
  }

  .projectInput {
    p {
      margin-left: 0rem;
    }
  }

  .bulletPoints {
    h3 {
      color: #89bcd9;
    }
    .durationText {
      display: none;
    }
  }

  .content {
    flex-direction: column;
    border-bottom-left-radius: 4rem;
    border-bottom-right-radius: 4rem;
  }

  .navContent {
    nav {
      span {
        width: 33%;
        font-size: 2.4rem;
      }
    }
  }

  .projectInput {
    p {
      display: flex;
      flex-wrap: wrap;
      width: auto;
    }
  }
}

@media (max-width: 656px) {
  .projectPictures {
    margin: 0rem 6rem;
  }

  p {
    margin-bottom: 3rem;
  }

  .bulletPoints {
    padding-bottom: 1rem;
  }

  span {
    font-size: 1.8rem;
  }

  h3 {
    font-size: 2.6rem;
    font-family: "Josefin Sans";
    font-weight: 400;
    color: #89bcd9;
  }

  .techText {
    display: none;
  }

  .projectDetailMobile {
    gap: 0.5rem;
    margin: 2rem 0rem;
    @include dFlex(center, start);
    flex-direction: column;
    width: 100%;
  }

  .icons {
    display: none;
  }

  h1 {
    margin-bottom: 5rem;
  }

  .buttonArea {
    display: none;
  }

  .buttonAreaMobile {
    @include dFlex(space-between, center);
    padding: 3rem;
    width: 30rem;

    .testButton {
      color: #2d383f;
      background-color: #89bcd9;

      &:hover {
        background-color: #ffffff;
      }
    }
  }
}

@media (max-width: 565px) {
  .projectPictures {
    height: auto;
    img {
      width: 35rem;
      height: 21rem;
    }
  }
  
  span {
    font-size: 1.4rem;
  }

  p {
    font-size: 1.6rem;
    margin-bottom: 1rem;
  }

  .bulletPoints {
    h3 {
      font-size: 1.8rem;
    }
  }
}

@media (max-width: 443px) {
  h1{
    font-size: 3.2rem;
  }
}


@media (max-width: 387px) {
  .navContent{
    nav{
      span{
        font-size: 1.8rem;
      }
    }
  }
    .projectPictures {
    height: auto;
    img {
      width: 25rem;
    }
  }
.projectContainer{
  width: 85%;
}
.buttonAreaMobile{
  width: 20rem;
  gap: 1rem;
}
}