<footer id="footer">
  <div class="content">
    <div class="legalNotice">
      <a [routerLink]="'/legal-notice'">Legal notice</a>
      <span>© Burak Bostanli 2025</span>
    </div>
    <a [routerLink]="'/'">
    <img  src="images/sections/navBar/logoDarkDefault.png">
    </a>
    <div class="socials">
      <a id="mail" href="https://github.com/twenty2industries" target="_blank"></a>
      <a id="github" href="https://github.com/twenty2industries" target="_blank"></a>
      <a id="linkedin" href="https://de.linkedin.com/" target="_blank"></a>
    </div>
        <div class="legalNoticeMobile">
      <a [routerLink]="'/legal-notice'">Legal notice</a>
      <span>© Burak Bostanli 2025</span>
    </div>
  </div>
</footer>