@import "../../mixins.scss";

footer {
  @include dFlex(center, center);
  width: 100%;
  background-color: #89bcd9;

  > .content {
    width: 100%;
    max-width: 1920px;
    @include dFlex(space-between, center);
    padding: 0rem 16rem;
    height: 21.4rem;

    > .legalNotice {
      @include dFlex(start, start);
      gap: 0.5rem;
      flex-direction: column;
      font-family: "Josefin Sans";
      color: black;
    }

    span {
      font-size: 1.8rem;
      font-family: "Josefin Sans";
      color: #2f4655;
    }
  }

  .socials {
    @include dFlex(start, start);

    gap: 1rem;
  }
}

.legalNoticeMobile{
  display: none;
}

#mail,
#github,
#linkedin {
  width: 32px;
  height: 32px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

#mail {
  background-image: url("../../../../public/images/sections/footer/mailDark.png");
  &:hover {
    background-image: url("../../../../public/images/sections/footer/mailHover.png");
  }
}

#github {
  background-image: url("../../../../public/images/sections/footer/githubDark.png");
  &:hover {
    background-image: url("../../../../public/images/sections/footer/githubHover.png");
  }
}

#linkedin {
  background-image: url("../../../../public/images/sections/footer/linkedinDark.png");
  &:hover {
    background-image: url("../../../../public/images/sections/footer/linkedinHover.png");
  }
}

@media (max-width: 1200px) {
}

@media (max-width: 900px) {
  footer {
    .content {
      padding: 0rem 10rem;
    }
  }
}

@media (max-width: 680px) {
  footer {
    .socials{
      gap: 3rem;
    }
    .content {
      flex-direction: column;
      justify-content: center;
      height: 24rem;
      gap: 2rem;
      .legalNotice {
        display:  none;
      }
    }
  }

      .legalNoticeMobile{
              @include dFlex(space-between, center);
      font-family: "Josefin Sans";
      color: black;
      width: 100%;
      }
}

@media (max-width: 565px) {
  footer {
    .content {
      padding: 0rem 3rem;
    }
  }
}

@media (max-width: 443px) {
}
